<br><br><br>

<section>
    <div class="games">
        <div class="top">
            <a class="g1" (click)="loadGame('assets/js-game/index.html', 'Asteroids')">Asteroids</a>
            <a class="g2" (click)="loadGame('assets/godot-game/index.html', 'SpaceMath')">SpaceMath</a>
        </div>
        <div class="middle">
            <a class="g3" (click)="loadGame('assets/max-game/index.html', 'Max')">Juego 3</a>
            <a class="g4" href="#">Juego 4</a>
        </div>
        <div class="bottom">
            <a class="g5" href="#">Juego 5</a>
            <a class="g6" href="#">Juego 6</a>
        </div>
    </div>
</section>

<br><br><br><br><br><br><br><br><br><br>