<footer>
    <section>
        <img src="/../assets/img/Logo.png" alt="">
    </section>
    <div class="footer-line"></div> <!-- Línea vertical -->
    <section>
        <nav id="opcionesFooter">
            <ul class="menufot">
                <li><a class="menufot" href="/mathkid_online/index.html">Inicio</a></li>
                <li><a class="menufot" href="/mathkid_online/html/contact.html">Contáctanos</a></li>
            </ul>
        </nav>
    </section>
    <div class="footer-line"></div> <!-- Línea vertical -->
    <section>
        <p>&copy; Derechos Reservados 2024</p>
    </section>
</footer>