<header>
    <section>
        <h1 id="title"><a href="index.html">MATHKID</a></h1>
    </section>
    <section>
        <div class="hamburger" (click)="toggleMenu($event)">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav id="optionsHeader">
            <ul>
                <li><a href="#" id="userName" (click)="nameSelect($event)">Invitado</a></li>
                <li><a href="game-display">Reciente</a></li>
                <li><a href="contact">Contacto</a></li>
                <li (click)="handleLoginClick($event)">
                    <img src="https://cdn-icons-png.flaticon.com/512/6326/6326055.png" alt="Login Icon">
                    <a href="#" id="login">Iniciar Sesión</a>
                </li>
            </ul>
        </nav>
    </section>
</header>