<div class="container">
    <section>
        <h1>Actualizar Datos Contacto</h1>

        <br>

        <div>
            <form (submit)="editContact()" [formGroup]="Form" autocomplete="off">
                <label id="userName">UserName</label>
                <input type="text" placeholder="UserName" formControlName="userName" required>
                <br>

                <label id="email">Email</label>
                <input type="email" placeholder="Email" formControlName="email" required>
                <br>

                <label id="password">Password</label>
                <input type="password" placeholder="Password" formControlName="password" #name required>
                <br>

                <label id="name">Name</label>
                <input type="text" placeholder="Name" formControlName="name" #name required>
                <br>

                <label id="lastName">LastName</label>
                <input type="text" placeholder="LastName" formControlName="lastName" #name required>
                <br>
                <!-- <input type="file" accept="image/*" (change)="selectFile($event)" formControlName="image">
                <br> -->
                <button type="submit">Actualizar</button>
            </form>
        </div>
    </section>
</div>
<br><br><br><br><br>