<div class="container">
    <section>
        <h1>Actualizar Datos Contacto</h1>
    
        <br>
        
        <div>
            <form (ngSubmit)="editContact()" [formGroup]="Form" autocomplete="off">
                <input type="text" placeholder="Nombre" formControlName="name" #name required>
                <br>
                <input type="text" placeholder="Telefono" formControlName="phone">
                <br>
                <input type="email" placeholder="Email" formControlName="email" required>
                <br>
                <input type="file" accept="image/*" (change)="selectFile($event)" formControlName="image">
                <br>
                <button type="button" (click)="submitForm(name.value);">Actualizar</button>
            </form>
        </div>
    </section>
</div>