/* game-display.component.scss */
.container {
  display: flex;
  justify-content: space-between; /* Ajusta el espacio entre los componentes */
}

.container > * {
  flex: 1; /* Ajusta el tamaño de los componentes para que ocupen el mismo espacio */
  margin: 20px 20px; /* Reduce el margen entre los componentes */
}

.container h1{
  text-align: center; /* Centra el texto */
}