<section>
    <div class="container">
        <!-- <button>Agregar Contacto</button> -->
        <h1>User</h1>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <!-- <th>Image</th> -->
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Name</th>
                    <th>LastName</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index;">
                    <td data-label="#"> {{i + 1}}</td>
                    <td data-label="Id">{{user.id_user}}</td>
                    <td data-label="UserName">{{user.userName}}</td>
                    <td data-label="Email">{{user.email}}</td>
                    <td data-label="Password">{{user.password}}</td>
                    <td data-label="Name">{{user.name}}</td>
                    <td data-label="LastName">{{user.lastName}}</td>
                    <td data-label="Actions">
                        <button (click)="updateUser(user.id_user!)">Update</button>
                        <button (click)="deleteUser(user.id_user!)">Delete</button>
                        <button (click)="logOut()">Exit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>