<div class="container">
    <button>Agregar Contacto</button>
    <table>
        <th>#</th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Email</th>
        <tbody>
            <tr *ngFor="let contact of contacts; let i = index;">
                <td scope="row">{{i + 1}}</td>
                <td *ngIf="contact.image"><img [src]="contact.image | domSecure" alt="img-user"></td>
                <td *ngIf="!contact.image"><img [src]="noImage" alt="No-img-user"></td>
                <td>{{contact.name}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<hr>
<br>

<h1>Ingresar Datos Contacto</h1>

<br>

<div>
    <form (ngSubmit)="addContact()" [formGroup]="Form" autocomplete="off">
        <input type="text" placeholder="Nombre" formControlName="name">
        <br>
        <input type="text" placeholder="Telefono" formControlName="phone">
        <br>
        <input type="email" placeholder="Email" formControlName="email">
        <br>
        <input type="file" accept="image/*" (change)="selectFile($event)" formControlName="image">
        <br>
        <button type="submit">Guardar</button>
    </form>
</div>