/* Definir variables CSS para el modo claro y oscuro */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --btn-background-color: #007bff;
    --btn-text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #ffffff;
        --btn-background-color: #1a73e8;
        --btn-text-color: #ffffff;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    background-color: var(--background-color);
    color: var(--text-color);
}

.btn {
    background-color: var(--btn-background-color);
    color: var(--btn-text-color);
}

.modal-content {
    background-color: var(--background-color);
    color: var(--text-color);
}

.table, .table th, .table td {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Otros estilos específicos para el modo oscuro */
@media (prefers-color-scheme: dark) {
    .navbar {
        background-color: var(--background-color);
        color: var(--text-color);
    }

    .card {
        background-color: var(--background-color);
        color: var(--text-color);
    }
}