<!-- <p>users-profile works!</p>

<br>

@if (isLoggedIn) {
    <img (click)="greet()" src="https://github.com/JuanECH16.png" alt="photo">
    <p>Bienvenido, {{ userName }} !</p>

    // Defer es que cargue los elementos una vez que la cpu no tiene carga alguna, osea al final
    // on viewport es para que cargue los elementos una vez se vean
    @defer (on viewport) {
        // <app-games username="{{ userName }}"></app-games>
        // <app-games></app-games>
    }@placeholder { // Crea un espacio para los elementos
        <p>Espacio donde van los juegos</p>
    }@loading { // Mensaje que va a salir mientras termina de cargar los elementos
        <p>Cargando juegos...</p>
    }
} @else {
    <p>No está logeado</p>
    <button (click)="logIn()">Log in</button>
} -->

<div>
    <app-users-list></app-users-list>
</div>

<div>
    <button (click)="logOut()">Salir</button>
</div>